h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  ;
  margin: 50px auto 10px auto;
}

#hero {
  background-color: #121358;

}

body {
  background-color: white;
  color: #40514e;
  margin: 0;
  font-family: "Merriweather", serif;

}

span {
  color: #36ADA3;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #36ADA3;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #36ADA3;
  font-size: 1.3em;
}

.profile img {
  background: grey;
  border-radius: 50%;
  width: 150px;
  height: 150px;

}

.skills h2 {
  text-align: center;
}

.circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.contactmessage {
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
  background-color: #36ADA3;
  color: white;
  padding: 10px 20px;
}

#footer {
  background-color: #121358;

}

.nav-link,
footer>p {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}